*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.ping{
    text-align: center;
    font-size: 50px;
    /* margin-top: 5px;
    padding: -10px; */
    position: absolute;
    top:20px;
    left:130px;
}
.launch{
    text-align: center;
    color: rgb(165, 154, 154);
    font-size: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
     position: absolute;
     top: 75px;
     left:90px;

     
}
.soon{
    font-size: 1.4rem;
    color: black;
    font-weight: bold;
}
.image{
    position: absolute;
    top:230px;
    left:20px;
}
.subscribe{
    color:rgb(95, 92, 92);
    font-size: 12px;
    position: absolute;
    top:110px;
    left:120px;
}
input{
    width:70vw;
    height:5vh;
    position: absolute;
    top:140px;
    left:70px;
    border-radius: 20px;
    border:2px solid rgb(185, 185, 246);

}
input::placeholder{
    color:rgb(185, 185, 246); 
    padding:20px;
}
.button{
    width:70vw;
    height:5vh;
    position: absolute;
    top:180px;
    left:70px;
    border-radius: 20px;
    border: 0;
    /* border:2px solid rgb(60, 60, 190); */
    background-color: blue;
    color:white;

}
.button::placeholder{
    color: white;
    padding:60px;
}
/* .f{
    font-size: 15px;
    background-color: white;
    width:10px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    top:50px;
}
.img{
    /* background-color: blue; */
    /* position: absolute;
    top:200px;
} */ 
div{
    display: flex;
    /* justify-content: space-between; */
    padding-right: 20px;
    /* margin-right: 20px; */
}
/* .button{
   border-radius:20px;
   border:2px solid rgb(226, 226, 240);
   position: absolute;
   top:550px;
   left:40px;
  
} */
.flex{
    display: flex;
    justify-content: space-between;
}
.f{
    border-radius:20px;
   border:2px solid rgb(226, 226, 240);
   position: absolute;
   top:580px;
   left:140px;
}
.tp{
    border-radius:20px;
   border:2px solid rgb(226, 226, 240);
   position: absolute;
   top:580px;
   left:170px;
}
.inst{
    border-radius:20px;
   border:2px solid rgb(226, 226, 240);
   position: absolute;
   top:580px;
   left:200px;
}
.c{
    width:12px;
    height:15px;
    border-radius: 40px;
    font-size: 12px;
    border:1px solid rgb(153, 163, 164);;
    color:rgb(153, 163, 164);
    background-color: white;
    position: absolute;
    top:614px;
    left:96px;
    text-align: center;
    
    
}
.copy{
    color:rgb(153, 163, 164) ;
    position: absolute;
    top:618px;
    left:110px;
    font-size: 10px;
}